*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html, body{
   line-height: 1.4;
   font-weight: 300;
   font-family: "roboto", sans-serif;
}
.navigation{
   text-align: center;
   justify-content: space-between;
   display: flex;
}